form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.height-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.padding-container{
    padding: 3rem;
}

.choose-name-container{
    border: 5px solid #333;

}

h5{
    color: red;
}