.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;

}

input {
    border: 1px solid black;
    padding: .2rem;
    margin: 1rem;
}

input:focus{
    outline: none;
}

button{
    background-color: white;
}

.message-container{
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
    animation: fadeIn .5s ease-in;
}

.message-legend{
    font-size: .9rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }